# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
.bin/
bin/
dist/
release/

# Go
go.sum
*.test
*.out
coverage.txt
*.prof

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Temporary
*.tmp
*.log
